/* reset */
 
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* general */

body {
    background-color: lightseagreen;
    width: 900px;
    height: 490px;
    margin: 10px auto;

}


/* body */
#game {
    display: flex;
    flex-wrap: wrap;
}

#start-game{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border-color: orange;
    margin-bottom: 15px;
    display: block;
    margin:  10px auto;
    font-size: 18px ;
}

.cell {
    width: calc(100% / 10);
    height: calc(490px / 10);
    border: 1px solid white;   
    text-align: center; 
    line-height: 300%;
    color: white;
    cursor: pointer;
}

/* JS */

.clicked  {
    background-color: dodgerblue;
}